 body
 {
 background-color:#f2f3f4;
font-family: 'Poppins', sans-serif;
 }
.navbar
{
height:66px;
width:100%;
top:0px;
left:0px;
background-color:#3c4556;
z-index:1030;
border:1px solid white;
border-radius:50px;
}
.navbar-brand
{
font-size:30px;
padding-right:15px;
padding-left:10px;
}
.navbar-nav li
{
font-size:18px;
padding-top:5px;
}
.footer
{
height:44px;
width:100%;
background-color:#3c4556;
color:white;
position:fixed;
bottom:0px;
left:0px;
text-align:center;
font-size:18px;
padding-top:10px;
}
.login
{
position:absolute;
top:50%;
left:55%;
transform: translate(-50%,-50%);
height:500px;
width:650px;
margin-top:25px;
}
.login label
{
font-size:18px;
}
#signup
{
position:absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
height:620px;
width:450px;
border:5px solid white;
border-radius:10%;
}
#signup label
{
font-weight:400;
font-size:18px;
}
video
{
object-fit:fill;
height:625px;
width:100%;
}
.cover
{
object-fit:fill;
position:absolute;
left:35%;
right:0px;
}
.cover-text
{
padding-top:30px;
height:650px;
width:550px;
border:2px solid black;
top:65px;
left:0px;
position:absolute;
background-color:black;
}
.nav-item a:hover
{
border-bottom:2px solid white;

}


